.header {
    display: flex;
    justify-content: space-around;
    
  
}

.dokdo-regular {
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: darkblue;
  }


.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
 
}
.flex-box {
 display: flex;
 height: 550px;
 width: 25%;
 margin-left: 51px;
 margin-bottom: 44px;
 align-items: flex-end;
 justify-content: center;
}

.flex-box2 {
  display: flex;
  height: 570px;
  width: 75%;
  margin-left: 45px;
  margin-bottom: 11px;
  align-items: flex-end;
  justify-content: center;
}
  
.flex-box3 {
  display: flex;
  gap: 20px;
  height: 550px;
  width: 25%;
  margin-right: 55px;
  margin-bottom: 70px;
  align-items: flex-end;
  justify-content: center;
}

.think-box {
  width: 180px;
  height: 200px;
  margin-bottom: 10px;
  background-image: url(../Images/Ithink-CHECKMARK.png);
  background-size: cover;
  transition: background-image 0.3s ease;

}

.think-box:hover {
    background-image: url(../Images/Ithink-NO-CHECKMARK.png);
}