.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10%;
  
}

.dokdo-regular {
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: darkblue;
  }

  .flex-container {
    display: flex;
    flex-direction: row;

  }


.flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 33%;
}

.flex-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;

}

.flex-box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 41%;
}

.flex-box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;    
    width: 100%;

}
  
h1 {
    font-size: 43px;
    color: darkblue;
    opacity: 75%;
}


.maingrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr
}

.imgMain {
    width: auto;
    height: 100%;
  }


#heroGrid {
    display: grid;
    height: 500px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "education pe akills pdf"
        "education pe skills pdf"
        "education pe skills pdf"
        "education pe skills pdf"
    ;
}

#education {
    grid-area: education;
    background-image: url(../Images/Resume-education.png);
    background-repeat: no-repeat;
    background-size: auto;
}

#pe {
    grid-area: pe;
    background-image: url(../Images/prof-experience.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#skills {
    grid-area: skills;
    background-image: url(../Images/Skills002.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#pdf {
    grid-area: pdf;
    background-image: url(../Images/PDF.png);
    background-repeat: no-repeat;
    background-size: 100%;
}