.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10%;
  
}

.dokdo-regular {
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: darkblue;
  }

  .flex-container {
    display: flex;
    flex-direction: row;

  }


.flex-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 33%;
}

.flex-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 33%;

}

.flex-box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 33%;
}

.flex-box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;    
    width: 100%;

}
  
h1 {
    font-size: 43px;
    color: darkblue;
    opacity: 75%;
}





